.ph-top {
	margin-bottom: 5px;
}
.ph-desc,
.ph-items,
.ph-categories,
.ph-subcategories {
	margin-top: 10px;
}

.ph-cat-desc,
.ph-item-desc {
	
}

.pp-category-view,
.pp-categories-view,
.pp-item-view {
	margin: 10px 0px;
}