<?xml version="1.0" encoding="utf-8"?>
<config>
    <fields addfieldpath="/administrator/components/com_phocapanorama/models/fields">

        <fieldset name="display" label="COM_PHOCAPANORAMA_CONFIG_HEAD_DISPLAY_LABEL">


            <field name="description" default="" type="editor" label="COM_PHOCAPANORAMA_FIELD_DESCRIPTION_LABEL" description="COM_PHOCAPANORAMA_FIELD_DESCRIPTION_DESC" filter="JComponentHelper::filterText"/>

            <field name="panorama_metadesc" type="textarea" label="COM_PHOCAPANORAMA_FIELD_METADESC_LABEL" description="COM_PHOCAPANORAMA_FIELD_METADESC_DESC" rows="2" cols="26" default=""/>

            <field name="panorama_metakey" type="textarea" label="COM_PHOCAPANORAMA_FIELD_METAKEY_LABEL" description="COM_PHOCAPANORAMA_FIELD_METAKEY_DESC" rows="2" cols="26" default=""/>


            <field name="load_bootstrap" default="0" type="radio" class="btn-group btn-group-yesno" label="COM_PHOCAPANORAMA_FIELD_LOAD_BOOTSTRAP_LABEL" description="COM_PHOCAPANORAMA_FIELD_LOAD_BOOTSTRAP_DESC">
                <option value="0">COM_PHOCAPANORAMA_NO</option>
                <option value="1">COM_PHOCAPANORAMA_YES</option>
            </field>

            <field name="display_back" type="list" class="btn-group btn-group-yesno" default="3" label="COM_PHOCAPANORAMA_FIELD_DISPLAY_BACK_BUTTON_LABEL" description="COM_PHOCAPANORAMA_FIELD_DISPLAY_BACK_BUTTON_DESC">
                <option value="0">COM_PHOCAPANORAMA_NO</option>
                <option value="1">COM_PHOCAPANORAMA_CATEGORY_VIEW</option>
                <option value="2">COM_PHOCAPANORAMA_ITEM_VIEW</option>
                <option value="3">COM_PHOCAPANORAMA_CATEGORY_ITEM_VIEW</option>
            </field>

            <field name="display_subcat_cats_view" default="0" type="text" label="COM_PHOCAPANORAMA_FIELD_DISPLAY_SUBCAT_CATS_VIEW_LABEL" description="COM_PHOCAPANORAMA_FIELD_DISPLAY_SUBCAT_CATS_VIEW_DESC"/>
            <field name="display_subcat_cat_view" default="5" type="text" label="COM_PHOCAPANORAMA_FIELD_DISPLAY_SUBCAT_CAT_VIEW_LABEL" description="COM_PHOCAPANORAMA_FIELD_DISPLAY_SUBCAT_CAT_VIEW_DESC"/>

            <field name="image_width" default="300" type="text" label="COM_PHOCAPANORAMA_FIELD_IMAGE_WIDTH_LABEL" description="COM_PHOCAPANORAMA_FIELD_IMAGE_WIDTH_DESC"/>

            <field name="image_height" default="auto" type="text" label="COM_PHOCAPANORAMA_FIELD_IMAGE_HEIGHT_LABEL" description="COM_PHOCAPANORAMA_FIELD_IMAGE_HEIGHT_DESC"/>

            <field name="equal_height" default="0" type="radio" class="btn-group btn-group-yesno" label="COM_PHOCAPANORAMA_FIELD_THUMBNAIL_BOX_EQUAL_HEIGHT_LABEL"
                   description="COM_PHOCAPANORAMA_FIELD_THUMBNAIL_BOX_EQUAL_HEIGHT_DESC">
                <option value="0">COM_PHOCAPANORAMA_NO</option>
                <option value="1">COM_PHOCAPANORAMA_YES</option>
            </field>

            <field name="default_pagination" default="20" size="18" type="text" label="COM_PHOCAPANORAMA_FIELD_DEFAULT_VALUE_PAGINATION_LABEL" description="COM_PHOCAPANORAMA_FIELD_DEFAULT_VALUE_PAGINATION_DESC"/>
            <field name="pagination" default="5,10,15,20,50" size="18" type="text" label="COM_PHOCAPANORAMA_FIELD_CATEGORY_VIEW_PAGINATION_LABEL" description="COM_PHOCAPANORAMA_FIELD_CATEGORY_VIEW_PAGINATION_DESC"/>

            <field name="enable_cache" type="list" default="0" label="COM_PHOCAPANORAMA_FIELD_ENABLE_CACHE_LABEL" description="COM_PHOCAPANORAMA_FIELD_ENABLE_CACHE_DESC">
                <option value="1">COM_PHOCAPANORAMA_YES</option>
                <option value="0">COM_PHOCAPANORAMA_NO</option>
            </field>

        </fieldset>

        <fieldset name="panorama" label="COM_PHOCAPANORAMA_CONFIG_HEAD_PANORAMA_LABEL">

            <field name="file_name" default="tour" type="text" label="COM_PHOCAPANORAMA_FIELD_PANORAMA_FILE_NAME_LABEL" description="COM_PHOCAPANORAMA_FIELD_PANORAMA_FILE_NAME_DESC"/>

            <field name="display_method" type="radio" class="btn-group btn-group-yesno" default="1" label="COM_PHOCAPANORAMA_FIELD_DISPLAYING_METHOD_LABEL" description="COM_PHOCAPANORAMA_FIELD_DISPLAYING_METHOD_DESC">
                <option value="0">COM_PHOCAPANORAMA_JS</option>
                <option value="1">COM_PHOCAPANORAMA_IFRAME</option>
            </field>

            <field name="panorama_width" default="100%" type="text" label="COM_PHOCAPANORAMA_FIELD_PANORAMA_WIDTH_LABEL" description="COM_PHOCAPANORAMA_FIELD_PANORAMA_WIDTH_DESC"/>

            <field name="panorama_height" default="500px" type="text" label="COM_PHOCAPANORAMA_FIELD_PANORAMA_HEIGHT_LABEL" description="COM_PHOCAPANORAMA_FIELD_PANORAMA_HEIGHT_DESC"/>
			
			<field name="phocaheadexpert1" type="phocaheadexpert"  default="COM_PHOCAPANORAMA_EXPERTS_ONLY_LABEL" label="" description=""/>

<field name="panorama_folder" default="" size="40" type="text" label="COM_PHOCAPANORAMA_FIELD_PANORAMA_FOLDER_LABEL" description="COM_PHOCAPANORAMA_FIELD_PANORAMA_FOLDER_DESC" />

        </fieldset>

        <fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">
            <field name="rules" type="rules" component="com_phocapanorama" filter="rules" label="COM_PHOCAPANORAMA_FIELD_JCONFIG_PERMISSIONS_LABEL" section="component"
                   description="COM_PHOCAPANORAMA_FIELD_JCONFIG_PERMISSIONS_DESC"/>
        </fieldset>

    </fields>
</config>
